[submodule "VoteTrackerPlus"]
        branch = main
	path = VoteTrackerPlus
	url = git@github.com:OpenVotingTechnologyGroup/VoteTrackerPlus.git
[submodule "VTP-web-api"]
        branch = feature/milestone5
	path = VTP-web-api
	url = git@github.com:OpenVotingTechnologyGroup/VTP-web-api.git
[submodule "VTP-web-client"]
        branch = feature/milestone5
	path = VTP-web-client
        url = git@github.com:OpenVotingTechnologyGroup/VTP-web-client.git
[submodule "VTP-mock-election.US.17"]
        branch = main
	path = VTP-mock-election.US.17
	url = git@github.com:OpenVotingTechnologyGroup/VTP-mock-election.US.17.git
