[submodule "VoteTrackerPlus"]
	branch = 5-support-for-multi-seat-sequential-rcv
	path = VoteTrackerPlus
	url = git@github.com:OpenVotingTechnologyGroup/VoteTrackerPlus.git
[submodule "VTP-web-api"]
	branch = 5-support-for-multi-seat-sequential-rcv
	path = VTP-web-api
	url = git@github.com:OpenVotingTechnologyGroup/VTP-web-api.git
[submodule "VTP-web-client"]
	branch = 5-support-for-multi-seat-sequential-rcv
	path = VTP-web-client
        url = git@github.com:OpenVotingTechnologyGroup/VTP-web-client.git
[submodule "VTP-mock-election.sRCV.1"]
	path = VTP-mock-election.sRCV.1
	url = git@github.com:OpenVotingTechnologyGroup/VTP-mock-election.sRCV.1.git
